/*Button*/
/* Bar's styles*/
/* Screen Sizes*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  font-family: "Raleway", sans-serif;
}

body h1 {
  text-align: center;
  font-size: 3rem;
  color: #741D51;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 90vw;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 80vw;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  padding: 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: space-between;
  }
}

.header__shopping--car {
  position: relative;
  z-index: 1;
}

.header__shopping--car img {
  max-width: 120px;
}

.header__shopping--car .content {
  display: none;
}

.header__shopping--car:hover .content {
  display: block;
  max-width: 100rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  background-color: #F2F2F2;
}

.header__shopping--car:hover .content .title {
  display: grid;
  grid-template-columns: .2fr .7fr .1fr;
  grid-column-gap: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.header__shopping--car:hover .content .list-courses {
  display: grid;
  row-gap: 1rem;
}

.header__shopping--car:hover .content .list-courses .item-course {
  display: grid;
  grid-template-columns: .2fr .7fr .1fr;
  column-gap: 2rem;
}

.header__shopping--car:hover .content .list-courses img {
  width: 8rem;
  height: 6rem;
}

.header__shopping--car:hover .content .list-courses .price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: green;
}

.header__shopping--car:hover .content button {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #33C3F0;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #741D51;
}

.hero .text {
  text-align: center;
  font-size: 2rem;
}

.hero h2 {
  font-weight: 700;
}

.hero p {
  padding-bottom: 2.5rem;
  font-weight: 500;
}

.hero p span {
  font-weight: 700;
}

.hero form {
  width: 80%;
  position: relative;
}

.hero form input[type="text"] {
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1.5rem;
}

.hero form input[type="submit"] {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -999px;
  background-image: url("../img/lupa.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .hero form {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero form {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .text {
    font-size: 2.5rem;
  }
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 3rem;
  color: white;
  background: linear-gradient(to right, #741D51 0%, #E44E52 100%);
}

.bar .icono {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  background-size: 3rem;
}

.bar .icono img {
  height: 6rem;
  padding-bottom: 1rem;
}

.bar .icono p {
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .bar {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .bar {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses .course {
  flex-basis: 100%;
  margin-bottom: 2rem;
  border: 1px solid #d9d9d9;
}

.courses .course .img-course {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .courses .course {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media only screen and (min-width: 1024px) {
  .courses .course {
    flex: 0 1 calc(33% - 1rem);
  }
}

.info-course {
  padding: 1rem;
}

.info-course h4 {
  height: 4rem;
  margin: 0;
  font-size: 1.7rem;
}

.info-course .price {
  display: flex;
  justify-content: space-between;
}

.info-course .price .regular {
  text-decoration: line-through;
  color: #E44E52;
  font-size: 1.5rem;
}

.info-course .price .offer {
  font-size: 1.5rem;
  font-weight: 700;
  color: #741D51;
}

.button {
  display: block;
  margin-top: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #741D51;
  color: white;
}

.footer {
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid #d9d9d9;
}

.footer h4 {
  color: #741D51;
}

.footer .container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  font-size: 1.7rem;
}

@media only screen and (min-width: 1024px) {
  .footer .container {
    display: flex;
    flex-direction: row;
  }
  .footer .container .flex__container {
    padding: 0 3rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.menu li {
  list-style: none;
  font-size: 1.5rem;
}

.menu li a {
  margin-bottom: 3rem;
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .menu {
    flex: 0 1 calc(30% - 1rem);
  }
}
