.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__logo {
    padding: 1.5rem 0;
  }

  @include tablet() {
    justify-content: space-between;
  }

  @include desktop() {
    justify-content: space-between;
  }
}

.header__shopping--car {
  position: relative;
  z-index: 1;

  img {
    max-width: 120px;
  }

  .content {
    display: none;
  }

  &:hover .content {
    display: block;
    max-width: 100rem;
    padding: 2rem;
    position: absolute;
    right: 0;
    background-color: $gray;


    .title {
      display: grid;
      grid-template-columns: .2fr .6fr .1fr .05fr .05fr;
      grid-column-gap: 1.5rem;
      padding-bottom: 1rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
    .list-courses {
      display: grid;
      row-gap: 1rem;

      .item-course {
        display: grid;
        grid-template-columns: .2fr .6fr .1fr .05fr .05fr;
        column-gap: 1.2rem;
        align-items: center;
      }

      img {
        width: 8rem;
        height: 6rem;
      }

      .price {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: green;
      }

      .delete-course {
        height: 2.3rem;
        padding: 5px 10px;
        background-color: red;
        border-radius: 50%;
        font-weight: bold;
        text-decoration: none;
        color: white;
      }
    }

    button {
      width: 100%;
      border: none;
      cursor: pointer;
      outline: none;
      @include button($principal_color);
    }

    @include desktop() {
      .title {
        grid-column-gap: 4rem;
      }
      .list-courses {
        .item-course {
          column-gap: 3.5rem;
        }
      }

    }
  }  
}
